/* -------------------------------- 

Layout style

-------------------------------- */

// Header

#masthead { position: fixed; top: 0; z-index: 999; height: 0; width: 100%; text-align: center; background: transparent; 
  .site-branding { padding: ($baseline / 2) $gutter; display: inline-block; margin: 0 auto; }
}

// Footer

#colophon { position: fixed; bottom: 0; z-index: 999; width: 100%; text-align: center; background: transparent; 
  .copyright { padding: ($baseline / 2) $gutter; display: inline-block; margin: 0 auto; }
}