// colors

$color-1: #ffffff; // White
$color-2: #9e1c51; // Disco
$color-3: #101524; // Ebony

// fonts 
@import url(http://fonts.googleapis.com/css?family=Yantramanav:300|Ramaraja);

$primary-font: 'Ramaraja', serif;
$secondary-font: 'Yantramanav', sans-serif;

// Number of projects 

$items: 4;

// Grid

$gutter: 25px; 
$baseline: 22px; 