// colors

$color-1: rgba(255, 255, 255, 1); // White
$color-2: rgba(70, 119, 4, 1); // Disco
$color-3: rgba(0, 0, 0, 1); // Ebony

// fonts 
@import url(//fonts.googleapis.com/css?family=Yantramanav:300|Sansita+One);

$primary-font: 'Sansita One', serif;
$secondary-font: 'Yantramanav', sans-serif;

// Number of projects 

$items: 4;

// Grid

$gutter: 25px; 
$baseline: 22px; 